CoolingControl/bin
CoolingControl/obj
CoolingControl/publish
CoolingControl/output
CoolingControl.Tests/bin
CoolingControl.Tests/obj
CoolingControl.Tests/publish
CoolingControl.Tests/output
CoolingControl.DummyPlugin/bin
CoolingControl.DummyPlugin/obj
CoolingControl.DummyPlugin/publish
CoolingControl.DummyPlugin/output